<h1>Add new link</h1>
<form action ='/links' method="post">
  <label for="url">
    URL
    <input type='text' name='url'/>
  </label>
  <label for="title">
    Title
    <input type='text' name='title'/>
  </label>
  <br>
  <label for="tags">
      Tags
      <label for='tags'>
          Tags:
      <input type='text' name='tags' />
      </label>
  </br>
  <input type='submit' value='Add link'>
</form>
