<h1>Bookmarks</h1>

<%= flash[:goodbye] %>

<ul id='links'>
    <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= link.tags.map(&:tags).join("") %>
    </li>
    <% end %>
</ul>
<form action="/links/add" method="get">
<input type="submit" value="Add new link">
</form>
