<form action='/links' method='post'>
  <input type='text' name='title'>
  <br>
  <input type='text' name='tag'>
  <br>
  <input type='text' name='url'>
  <br>
  <input type='submit' value='Submit'>
</form>
