<h1> New link <h1>

<form action='/links' method='POST'>
  <p>
    <input type='text' name='title'>
    <input type='url' name='url'>
    <input type='text' name='tags'>
    <input type='submit' value='Create link'>
  <p>

</form>
