<ul id='links'>
  <% @links.each do |link| %>
    <% if link.tags.any? { |tag| tag.name == 'bubbles' } %>
      <li>
        <a href='<%= link.url %>'><%= link.title %></a>
        Tags: <%= link.tags.first.name if link.tags.first %>
      </li>
    <% end %>
  <% end %>
</ul>
