<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookmark Manager</title>
</head>
<body>
  <% if current_user %>
    Hi, <%= current_user.email %>
  <% end %>
  <% if flash[:error] %>
    <div id='flash'><%= flash[:error] %></div>
  <% end %>
  <%= yield %>
</body>
</html>
