<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href='<%= link.url %>'><%= link.title %></a>
      Tags: <%= link.tags.map(&:name).join(' ') if link.tags.first %>
    </li>
  <% end %>
</ul>
